In [6]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import Imputer

In [7]:
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns
%config InlineBackend.figure_format = 'retina'
from pylab import rcParams
rcParams['figure.figsize'] = (9, 6)

In [8]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [9]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [11]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [12]:
train.Sex.value_counts(dropna=False)

male      577
female    314
Name: Sex, dtype: int64

In [13]:
train.groupby('Sex')['Pclass'].value_counts(normalize=True)

Sex     Pclass
female  3         0.458599
        1         0.299363
        2         0.242038
male    3         0.601386
        1         0.211438
        2         0.187175
Name: Pclass, dtype: float64

In [14]:
y_train = train.Survived
train.drop('Survived', axis=1, inplace=True)

In [15]:
train.columns == test.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [16]:
train['is_test'] = 0
test['is_test'] = 1

In [17]:
df = pd.concat([train, test])

In [18]:
df["isMale"] = df.Sex.replace({"male": 1, "female":0})
df["treatment"] = df.Name.apply(lambda s: (s.split(",")[1].strip()).split(" ")[0])
df.drop(["Sex", "Cabin", "Ticket", "Name", "PassengerId"], axis=1, inplace=True)

In [19]:
df.Pclass.value_counts()

3    709
1    323
2    277
Name: Pclass, dtype: int64

In [20]:
df_dummies = pd.get_dummies(df, columns=['Pclass', 'Embarked', 'treatment'])

In [21]:
df_dummies.head(10)

,Age,SibSp,Parch,Fare,is_test,isMale,Pclass_1,Pclass_2,Pclass_3,Embarked_C,...,treatment_Master.,treatment_Miss.,treatment_Mlle.,treatment_Mme.,treatment_Mr.,treatment_Mrs.,treatment_Ms.,treatment_Rev.,treatment_Sir.,treatment_the
0,22.0,1,0,7.2500,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
1,38.0,1,0,71.2833,0,0,1,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2,26.0,0,0,7.9250,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
3,35.0,1,0,53.1000,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,35.0,0,0,8.0500,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
5,NaN,0,0,8.4583,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
6,54.0,0,0,51.8625,0,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
7,2.0,3,1,21.0750,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
8,27.0,0,2,11.1333,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
9,14.0,1,0,30.0708,0,0,0,1,0,1,...,0,0,0,0,0,1,0,0,0,0

In [22]:
df_dummies.isnull().sum()

Age                    263
SibSp                    0
Parch                    0
Fare                     1
is_test                  0
isMale                   0
Pclass_1                 0
Pclass_2                 0
Pclass_3                 0
Embarked_C               0
Embarked_Q               0
Embarked_S               0
treatment_Capt.          0
treatment_Col.           0
treatment_Don.           0
treatment_Dona.          0
treatment_Dr.            0
treatment_Jonkheer.      0
treatment_Lady.          0
treatment_Major.         0
treatment_Master.        0
treatment_Miss.          0
treatment_Mlle.          0
treatment_Mme.           0
treatment_Mr.            0
treatment_Mrs.           0
treatment_Ms.            0
treatment_Rev.           0
treatment_Sir.           0
treatment_the            0
dtype: int64

In [23]:
X_train = df_dummies[df_dummies.is_test==0].drop('is_test', axis=1)
X_test = df_dummies[df_dummies.is_test==1].drop('is_test', axis=1)

In [24]:
columns = X_train.columns

In [25]:
X_train.head(10)

,Age,SibSp,Parch,Fare,isMale,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,...,treatment_Master.,treatment_Miss.,treatment_Mlle.,treatment_Mme.,treatment_Mr.,treatment_Mrs.,treatment_Ms.,treatment_Rev.,treatment_Sir.,treatment_the
0,22.0,1,0,7.2500,1,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
1,38.0,1,0,71.2833,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
2,26.0,0,0,7.9250,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,35.0,1,0,53.1000,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,35.0,0,0,8.0500,1,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
5,NaN,0,0,8.4583,1,0,0,1,0,1,...,0,0,0,0,1,0,0,0,0,0
6,54.0,0,0,51.8625,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
7,2.0,3,1,21.0750,1,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
8,27.0,0,2,11.1333,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
9,14.0,1,0,30.0708,0,0,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0

In [26]:
imputer = Imputer(missing_values='NaN', strategy='mean', axis=0, verbose=0, copy=True)

c:\users\сергей\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [27]:
imputer.fit(X_train)

Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)

In [28]:
X_train_imputed = imputer.transform(X_train)
X_train_imputed = pd.DataFrame(X_train_imputed, columns=columns)

In [29]:
X_train_imputed.head(10)

,Age,SibSp,Parch,Fare,isMale,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,...,treatment_Master.,treatment_Miss.,treatment_Mlle.,treatment_Mme.,treatment_Mr.,treatment_Mrs.,treatment_Ms.,treatment_Rev.,treatment_Sir.,treatment_the
0,22.000000,1.0,0.0,7.2500,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,38.000000,1.0,0.0,71.2833,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,26.000000,0.0,0.0,7.9250,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,35.000000,1.0,0.0,53.1000,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,35.000000,0.0,0.0,8.0500,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5,29.699118,0.0,0.0,8.4583,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6,54.000000,0.0,0.0,51.8625,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7,2.000000,3.0,1.0,21.0750,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,27.000000,0.0,2.0,11.1333,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
9,14.000000,1.0,0.0,30.0708,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

### Разделение на обучающую и тестирующую выборки

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [31]:
scaler = StandardScaler()
scaler.fit(X_train_imputed)
X_train_imputed_scaled = scaler.transform(X_train_imputed)
X_train_imputed_scaled = pd.DataFrame(X_train_imputed_scaled, columns=columns)
X_train_fin, X_val, y_train_fin, y_val = train_test_split(X_train_imputed_scaled, y_train, test_size=0.2)
X_test_imputed_scaled = scaler.transform(imputer.transform(X_test))

In [32]:
X_train_fin.shape

(712, 29)

In [33]:
X_val.shape

(179, 29)

In [34]:
X_test_imputed_scaled.shape

(418, 29)

In [35]:
y_train_fin.shape

(712,)

In [36]:
y_val.shape

(179,)

In [37]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_validate
from sklearn.tree import DecisionTreeClassifier

In [38]:
cs = np.arange(1, 6, 1)
cs

array([1, 2, 3, 4, 5])

In [39]:
grid = {'max_depth': cs, 'max_features': cs}
gridsearch = GridSearchCV(DecisionTreeClassifier(), grid, scoring='accuracy', cv=10)

In [40]:
%%time
gridsearch.fit(X_train_fin, y_train_fin)

Wall time: 721 ms

c:\users\сергей\appdata\local\programs\python\python37\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'max_depth': array([1, 2, 3, 4, 5]), 'max_features': array([1, 2, 3, 4, 5])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [41]:
gridsearch.cv_results_

c:\users\сергей\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('mean_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
c:\users\сергей\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split0_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
c:\users\сергей\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split1_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
c:\users\сергей\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split2_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
c:\users\сергей\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split3_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
c:\users\сергей\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split4_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
c:\users\сергей\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split5_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
c:\users\сергей\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split6_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
c:\users\сергей\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split7_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
c:\users\сергей\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split8_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
c:\users\сергей\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split9_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
c:\users\сергей\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('std_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)

{'mean_fit_time': array([0.00160339, 0.00159221, 0.0010998 , 0.00109718, 0.00119753,
        0.00129449, 0.00119476, 0.00149279, 0.00109799, 0.00129471,
        0.00139315, 0.0012953 , 0.00119917, 0.00109615, 0.00129728,
        0.00129409, 0.00149791, 0.00139015, 0.00119452, 0.00159442,
        0.00129371, 0.00189433, 0.00130284, 0.00119555, 0.00149677]),
 'mean_score_time': array([0.00049584, 0.00069764, 0.00069821, 0.00080113, 0.00049932,
        0.00039866, 0.00069957, 0.00039926, 0.0005981 , 0.00059841,
        0.00040233, 0.0005013 , 0.00069637, 0.0006027 , 0.0004957 ,
        0.00049796, 0.00039866, 0.00100076, 0.00060613, 0.00029917,
        0.00080063, 0.00060132, 0.00059805, 0.00070314, 0.00039864]),
 'mean_test_score': array([0.64325843, 0.67696629, 0.62921348, 0.70926966, 0.68398876,
        0.67275281, 0.69803371, 0.74157303, 0.67977528, 0.74578652,
        0.67275281, 0.74438202, 0.75702247, 0.71488764, 0.76544944,
        0.73174157, 0.73735955, 0.73033708, 0.78230337, 0.78089888,
        0.71629213, 0.75842697, 0.76264045, 0.78511236, 0.78932584]),
 'mean_train_score': array([0.63748957, 0.67708745, 0.62780329, 0.70960081, 0.6696349 ,
        0.68834861, 0.70597664, 0.71176783, 0.70977219, 0.74253543,
        0.69495155, 0.73376766, 0.75544842, 0.75156918, 0.78043206,
        0.73689074, 0.74969151, 0.76045352, 0.78214718, 0.78558663,
        0.74219251, 0.77155677, 0.78088671, 0.80586502, 0.80711453]),
 'param_max_depth': masked_array(data=[1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4,
                    4, 4, 5, 5, 5, 5, 5],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'param_max_features': masked_array(data=[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3,
                    4, 5, 1, 2, 3, 4, 5],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'params': [{'max_depth': 1, 'max_features': 1},
  {'max_depth': 1, 'max_features': 2},
  {'max_depth': 1, 'max_features': 3},
  {'max_depth': 1, 'max_features': 4},
  {'max_depth': 1, 'max_features': 5},
  {'max_depth': 2, 'max_features': 1},
  {'max_depth': 2, 'max_features': 2},
  {'max_depth': 2, 'max_features': 3},
  {'max_depth': 2, 'max_features': 4},
  {'max_depth': 2, 'max_features': 5},
  {'max_depth': 3, 'max_features': 1},
  {'max_depth': 3, 'max_features': 2},
  {'max_depth': 3, 'max_features': 3},
  {'max_depth': 3, 'max_features': 4},
  {'max_depth': 3, 'max_features': 5},
  {'max_depth': 4, 'max_features': 1},
  {'max_depth': 4, 'max_features': 2},
  {'max_depth': 4, 'max_features': 3},
  {'max_depth': 4, 'max_features': 4},
  {'max_depth': 4, 'max_features': 5},
  {'max_depth': 5, 'max_features': 1},
  {'max_depth': 5, 'max_features': 2},
  {'max_depth': 5, 'max_features': 3},
  {'max_depth': 5, 'max_features': 4},
  {'max_depth': 5, 'max_features': 5}],
 'rank_test_score': array([24, 21, 25, 17, 19, 22, 18, 11, 20,  9, 22, 10,  8, 16,  5, 13, 12,
        14,  3,  4, 15,  7,  6,  2,  1]),
 'split0_test_score': array([0.61111111, 0.76388889, 0.61111111, 0.69444444, 0.80555556,
        0.61111111, 0.73611111, 0.77777778, 0.73611111, 0.73611111,
        0.73611111, 0.83333333, 0.70833333, 0.70833333, 0.77777778,
        0.72222222, 0.70833333, 0.72222222, 0.84722222, 0.83333333,
        0.79166667, 0.80555556, 0.75      , 0.80555556, 0.75      ]),
 'split0_train_score': array([0.6078125, 0.6671875, 0.6109375, 0.690625 , 0.659375 , 0.609375 ,
        0.784375 , 0.64375  , 0.784375 , 0.784375 , 0.784375 , 0.78125  ,
        0.6796875, 0.7546875, 0.7859375, 0.7359375, 0.746875 , 0.7828125,
        0.7828125, 0.8203125, 0.8078125, 0.7796875, 0.7921875, 0.796875 ,
        0.83125  ]),
 'split1_test_score': array([0.65277778, 0.61111111, 0.61111111, 0.83333333, 0.66666667,
        0.69444444, 0.63888889, 0.83333333, 0.79166667, 0.79166667,
        0.84722222, 0.84722222, 0.72222222, 0.72222222, 0.66666667,
        0.79166667, 0.79166667, 0.80555556, 0.90277778, 0.875     ,
        0.70833333, 0.91666667, 0.79166667, 0.86111111, 0.88888889]),
 'split1_train_score': array([0.628125 , 0.6109375, 0.6078125, 0.765625 , 0.6109375, 0.6859375,
        0.68125  , 0.7734375, 0.778125 , 0.771875 , 0.7828125, 0.78125  ,
        0.75     , 0.7328125, 0.7390625, 0.7796875, 0.7734375, 0.775    ,
        0.8015625, 0.796875 , 0.6765625, 0.8328125, 0.7828125, 0.8046875,
        0.809375 ]),
 'split2_test_score': array([0.59722222, 0.625     , 0.61111111, 0.75      , 0.63888889,
        0.63888889, 0.58333333, 0.73611111, 0.70833333, 0.76388889,
        0.58333333, 0.625     , 0.76388889, 0.76388889, 0.79166667,
        0.63888889, 0.66666667, 0.65277778, 0.69444444, 0.79166667,
        0.69444444, 0.73611111, 0.66666667, 0.81944444, 0.76388889]),
 'split2_train_score': array([0.6859375, 0.628125 , 0.6109375, 0.775    , 0.696875 , 0.696875 ,
        0.6203125, 0.68125  , 0.7890625, 0.7703125, 0.6875   , 0.6125   ,
        0.7921875, 0.775    , 0.7875   , 0.73125  , 0.7203125, 0.715625 ,
        0.771875 , 0.7828125, 0.753125 , 0.8140625, 0.734375 , 0.81875  ,
        0.7859375]),
 'split3_test_score': array([0.61971831, 0.71830986, 0.6056338 , 0.70422535, 0.67605634,
        0.69014085, 0.57746479, 0.70422535, 0.70422535, 0.71830986,
        0.61971831, 0.69014085, 0.8028169 , 0.74647887, 0.73239437,
        0.71830986, 0.76056338, 0.64788732, 0.67605634, 0.70422535,
        0.71830986, 0.56338028, 0.74647887, 0.66197183, 0.73239437]),
 'split3_train_score': array([0.61622465, 0.77847114, 0.6099844 , 0.78783151, 0.68798752,
        0.77847114, 0.70670827, 0.71294852, 0.78783151, 0.7800312 ,
        0.61622465, 0.72542902, 0.74570983, 0.81591264, 0.80967239,
        0.75351014, 0.78627145, 0.75351014, 0.76131045, 0.79095164,
        0.75351014, 0.67394696, 0.77535101, 0.76911076, 0.78627145]),
 'split4_test_score': array([0.63380282, 0.66197183, 0.63380282, 0.66197183, 0.5915493 ,
        0.70422535, 0.73239437, 0.6056338 , 0.6056338 , 0.66197183,
        0.70422535, 0.64788732, 0.69014085, 0.64788732, 0.74647887,
        0.67605634, 0.71830986, 0.61971831, 0.69014085, 0.67605634,
        0.66197183, 0.71830986, 0.63380282, 0.71830986, 0.70422535]),
 'split4_train_score': array([0.61466459, 0.68954758, 0.63026521, 0.68954758, 0.6224649 ,
        0.7800312 , 0.72230889, 0.6099844 , 0.6099844 , 0.69890796,
        0.81435257, 0.75195008, 0.79875195, 0.7925117 , 0.79875195,
        0.72230889, 0.67550702, 0.76131045, 0.79095164, 0.80655226,
        0.79719189, 0.77379095, 0.73946958, 0.82527301, 0.85335413]),
 'split5_test_score': array([0.6056338 , 0.6056338 , 0.78873239, 0.78873239, 0.69014085,
        0.69014085, 0.76056338, 0.61971831, 0.69014085, 0.84507042,
        0.6056338 , 0.8028169 , 0.84507042, 0.78873239, 0.78873239,
        0.77464789, 0.81690141, 0.76056338, 0.85915493, 0.81690141,
        0.6056338 , 0.88732394, 0.77464789, 0.83098592, 0.88732394]),
 'split5_train_score': array([0.60842434, 0.60842434, 0.77067083, 0.77067083, 0.69110764,
        0.67394696, 0.67862715, 0.69422777, 0.6723869 , 0.77223089,
        0.63338534, 0.8049922 , 0.78783151, 0.77223089, 0.78627145,
        0.74882995, 0.78939158, 0.7425897 , 0.8174727 , 0.7925117 ,
        0.66926677, 0.80031201, 0.78939158, 0.80811232, 0.81123245]),
 'split6_test_score': array([0.6056338 , 0.6056338 , 0.6056338 , 0.70422535, 0.70422535,
        0.71830986, 0.73239437, 0.78873239, 0.5915493 , 0.74647887,
        0.63380282, 0.64788732, 0.70422535, 0.50704225, 0.76056338,
        0.77464789, 0.81690141, 0.71830986, 0.74647887, 0.76056338,
        0.70422535, 0.73239437, 0.77464789, 0.8028169 , 0.70422535]),
 'split6_train_score': array([0.60842434, 0.60842434, 0.6099844 , 0.68954758, 0.67394696,
        0.69734789, 0.70358814, 0.77847114, 0.65054602, 0.68018721,
        0.65834633, 0.64586583, 0.69110764, 0.65054602, 0.78159126,
        0.75195008, 0.82059282, 0.72854914, 0.72542902, 0.7675507 ,
        0.69890796, 0.74414977, 0.78627145, 0.82839314, 0.75195008]),
 'split7_test_score': array([0.6056338 , 0.78873239, 0.6056338 , 0.6056338 , 0.78873239,
        0.69014085, 0.8028169 , 0.81690141, 0.6056338 , 0.76056338,
        0.74647887, 0.76056338, 0.8028169 , 0.71830986, 0.83098592,
        0.71830986, 0.78873239, 0.8028169 , 0.76056338, 0.83098592,
        0.69014085, 0.83098592, 0.8028169 , 0.8028169 , 0.8028169 ]),
 'split7_train_score': array([0.62090484, 0.77067083, 0.60842434, 0.60842434, 0.77067083,
        0.67550702, 0.77691108, 0.78783151, 0.61154446, 0.78783151,
        0.70046802, 0.71918877, 0.80967239, 0.70046802, 0.78315133,
        0.69266771, 0.77379095, 0.7925117 , 0.80343214, 0.78315133,
        0.67862715, 0.81279251, 0.78939158, 0.78471139, 0.82371295]),
 'split8_test_score': array([0.85915493, 0.57746479, 0.6056338 , 0.64788732, 0.66197183,
        0.6056338 , 0.6056338 , 0.8028169 , 0.66197183, 0.76056338,
        0.63380282, 0.84507042, 0.69014085, 0.85915493, 0.78873239,
        0.69014085, 0.73239437, 0.78873239, 0.81690141, 0.71830986,
        0.81690141, 0.71830986, 0.84507042, 0.83098592, 0.83098592]),
 'split8_train_score': array([0.77067083, 0.63338534, 0.60842434, 0.62870515, 0.67550702,
        0.60842434, 0.6099844 , 0.76911076, 0.70202808, 0.70514821,
        0.65678627, 0.79095164, 0.70202808, 0.8174727 , 0.78939158,
        0.67550702, 0.69266771, 0.78627145, 0.77379095, 0.72542902,
        0.80343214, 0.73634945, 0.79407176, 0.79719189, 0.79563183]),
 'split9_test_score': array([0.64285714, 0.81428571, 0.61428571, 0.7       , 0.61428571,
        0.68571429, 0.81428571, 0.72857143, 0.7       , 0.67142857,
        0.61428571, 0.74285714, 0.84285714, 0.68571429, 0.77142857,
        0.81428571, 0.57142857, 0.78571429, 0.82857143, 0.8       ,
        0.77142857, 0.67142857, 0.84285714, 0.71428571, 0.82857143]),
 'split9_train_score': array([0.61370717, 0.77570093, 0.6105919 , 0.69003115, 0.60747664,
        0.67757009, 0.77570093, 0.66666667, 0.71183801, 0.67445483,
        0.6152648 , 0.72429907, 0.79750779, 0.70404984, 0.74299065,
        0.77725857, 0.71806854, 0.76635514, 0.79283489, 0.78971963,
        0.7834891 , 0.74766355, 0.82554517, 0.82554517, 0.82242991]),
 'std_fit_time': array([0.00048531, 0.00078923, 0.00031006, 0.0002996 , 0.00039625,
        0.00044989, 0.00039653, 0.00049612, 0.00028633, 0.00045549,
        0.00048413, 0.00046201, 0.00040328, 0.00029931, 0.00045409,
        0.00045315, 0.00049987, 0.00047145, 0.00039058, 0.00048805,
        0.00045926, 0.00030304, 0.00045875, 0.00040071, 0.00050115]),
 'std_score_time': array([0.00049616, 0.00045671, 0.00045709, 0.00040065, 0.00049933,
        0.00048826, 0.00045799, 0.00048899, 0.00048835, 0.0004886 ,
        0.00049286, 0.00050141, 0.0004559 , 0.00049222, 0.00049574,
        0.00049797, 0.00048826, 0.00045429, 0.00049508, 0.00045699,
        0.0004004 , 0.00066816, 0.00048831, 0.00046045, 0.00048823]),
 'std_test_score': array([0.07391686, 0.08228109, 0.05369058, 0.06371392, 0.06521898,
        0.0375462 , 0.0847387 , 0.07501883, 0.06069674, 0.0510041 ,
        0.079384  , 0.08269853, 0.05875972, 0.08838364, 0.04193798,
        0.05290506, 0.07220143, 0.06600097, 0.07576983, 0.06094841,
        0.05946342, 0.09957489, 0.06491536, 0.06064672, 0.06551417]),
 'std_train_score': array([0.04955429, 0.06864885, 0.04802924, 0.05966025, 0.04630396,
        0.05458981, 0.05850189, 0.05965498, 0.06869776, 0.04421068,
        0.07013807, 0.05998916, 0.04673388, 0.05154822, 0.02123038,
        0.03174217, 0.04439816, 0.02415821, 0.02469119, 0.02413411,
        0.05345446, 0.04499624, 0.02526393, 0.01843461, 0.02703817])}

In [42]:
gridsearch.best_params_

{'max_depth': 5, 'max_features': 5}

In [43]:
best_C = gridsearch.best_params_["max_depth"]

In [44]:
from sklearn.metrics import accuracy_score

In [45]:
clf = gridsearch.best_estimator_
clf.feature_importances_

array([0.05654656, 0.03574632, 0.00660861, 0.01759469, 0.01464721,
       0.01913866, 0.05148176, 0.07012102, 0.06585645, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.04471996, 0.        , 0.        , 0.38721756, 0.22418997,
       0.        , 0.00613123, 0.        , 0.        ])

In [46]:
clf.fit(X_train_fin, y_train_fin)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
            max_features=5, max_leaf_nodes=None, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [47]:
y_val_pred = clf.predict(X_val)

In [48]:
accuracy_score(y_val_pred, y_val)

0.7821229050279329

# Финальное предсказание

In [49]:
clf.fit(X_train_imputed_scaled, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
            max_features=5, max_leaf_nodes=None, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

предсказание вероятностей принадлежности классу 0 и 1:

In [50]:
clf.predict_proba(X_test_imputed_scaled)[:10]

array([[0.89615385, 0.10384615],
       [0.50909091, 0.49090909],
       [0.90909091, 0.09090909],
       [0.89615385, 0.10384615],
       [0.50909091, 0.49090909],
       [0.89615385, 0.10384615],
       [0.27272727, 0.72727273],
       [0.875     , 0.125     ],
       [0.36363636, 0.63636364],
       [0.84      , 0.16      ]])

In [51]:
from sklearn.tree import export_graphviz

def get_tree_dot_view(clf, feature_names=None, class_names=None):
    print(export_graphviz(clf, out_file=None, filled=True, feature_names=feature_names, class_names=class_names))

In [52]:
clf = DecisionTreeClassifier(max_depth=3)
clf.fit(X_train_fin, y_train_fin)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [53]:
get_tree_dot_view(clf, list(X_train_fin.columns), str(y_train_fin))

digraph Tree {
node [shape=box, style="filled", color="black"] ;
0 [label="treatment_Mr. <= -0.163\ngini = 0.477\nsamples = 712\nvalue = [433, 279]\nclass = 8", fillcolor="#e581395b"] ;
1 [label="Pclass_3 <= -0.103\ngini = 0.428\nsamples = 309\nvalue = [96, 213]\nclass = 1", fillcolor="#399de58c"] ;
0 -> 1 [labeldistance=2.5, labelangle=45, headlabel="True"] ;
2 [label="isMale <= -0.309\ngini = 0.212\nsamples = 166\nvalue = [20, 146]\nclass = 1", fillcolor="#399de5dc"] ;
1 -> 2 ;
3 [label="gini = 0.083\nsamples = 138\nvalue = [6, 132]\nclass = 1", fillcolor="#399de5f3"] ;
2 -> 3 ;
4 [label="gini = 0.5\nsamples = 28\nvalue = [14, 14]\nclass = 8", fillcolor="#e5813900"] ;
2 -> 4 ;
5 [label="Fare <= -0.178\ngini = 0.498\nsamples = 143\nvalue = [76, 67]\nclass = 8", fillcolor="#e581391e"] ;
1 -> 5 ;
6 [label="gini = 0.484\nsamples = 107\nvalue = [44, 63]\nclass = 1", fillcolor="#399de54d"] ;
5 -> 6 ;
7 [label="gini = 0.198\nsamples = 36\nvalue = [32, 4]\nclass = 8", fillcolor="#e58139df"] ;
5 -> 7 ;
8 [label="Fare <= -0.12\ngini = 0.274\nsamples = 403\nvalue = [337, 66]\nclass = 8", fillcolor="#e58139cd"] ;
0 -> 8 [labeldistance=2.5, labelangle=-45, headlabel="False"] ;
9 [label="Embarked_C <= 0.796\ngini = 0.187\nsamples = 306\nvalue = [274, 32]\nclass = 8", fillcolor="#e58139e1"] ;
8 -> 9 ;
10 [label="gini = 0.172\nsamples = 274\nvalue = [248, 26]\nclass = 8", fillcolor="#e58139e4"] ;
9 -> 10 ;
11 [label="gini = 0.305\nsamples = 32\nvalue = [26, 6]\nclass = 8", fillcolor="#e58139c4"] ;
9 -> 11 ;
12 [label="Age <= 1.447\ngini = 0.455\nsamples = 97\nvalue = [63, 34]\nclass = 8", fillcolor="#e5813975"] ;
8 -> 12 ;
13 [label="gini = 0.49\nsamples = 77\nvalue = [44, 33]\nclass = 8", fillcolor="#e5813940"] ;
12 -> 13 ;
14 [label="gini = 0.095\nsamples = 20\nvalue = [19, 1]\nclass = 8", fillcolor="#e58139f2"] ;
12 -> 14 ;
}