In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm_notebook
from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer

In [2]:
links = pd.read_csv('links.csv')
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
tags = pd.read_csv('tags.csv')

In [3]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [4]:
movies.head(7640)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
20,21,Get Shorty (1995),Comedy|Crime|Thriller
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller
22,23,Assassins (1995),Action|Crime|Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Children|Drama
27,28,Persuasion (1995),Drama|Romance
28,29,"City of Lost Children, The (Cit√© des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama
...,...,...,...
7610,86892,The Man from Nowhere (2010),Action|Crime|Thriller
7611,86898,"Tree of Life, The (2011)",Drama
7612,86911,"Hangover Part II, The (2011)",Comedy
7613,86922,Nothing to Declare (Rien √† d√©clarer) (2010),Comedy
7614,86960,Across the Hall (2009),Thriller
7615,87028,"Roommate, The (2011)",Drama|Thriller
7616,87192,Attack the Block (2011),Action|Comedy|Sci-Fi
7617,87194,The Way (2010),Adventure|Comedy|Drama
7618,87197,Let the Bullets Fly (2010),Action|Comedy
7619,87222,Kung Fu Panda 2 (2011),Action|Adventure|Animation|Children|Comedy|IMAX
7620,87232,X-Men: First Class (2011),Action|Adventure|Sci-Fi|Thriller|War
7621,87234,Submarine (2010),Comedy|Drama|Romance
7622,87287,American Grindhouse (2010),Documentary
7623,87298,Everything Must Go (2010),Comedy|Drama
7624,87304,Beginners (2010),Drama
7625,87306,Super 8 (2011),Mystery|Sci-Fi|Thriller|IMAX
7626,87413,Bernie (1996),Comedy|Drama
7627,87430,Green Lantern (2011),Action|Adventure|Sci-Fi
7628,87444,Elektra Luxx (2010),Comedy
7629,87483,Mr. Popper's Penguins (2011),Comedy
7630,87485,Bad Teacher (2011),Comedy
7631,87520,Transformers: Dark of the Moon (2011),Action|Adventure|Sci-Fi|War|IMAX
7632,87522,Larry Crowne (2011),Comedy|Drama|Romance
7633,87529,Your Highness (2011),Action|Adventure|Comedy|Fantasy
7634,87660,Too Big to Fail (2011),Drama
7635,87785,Takers (2010),Action|Crime|Thriller
7636,87834,My Life as McDull (Mak dau goo si) (2001),Animation|Comedy|Drama
7637,87867,Zookeeper (2011),Comedy
7638,87869,Horrible Bosses (2011),Comedy|Crime
7639,87876,Cars 2 (2011),Adventure|Animation|Children|Comedy|IMAX

In [5]:
ratings.head(1250)

      userId  movieId  rating   timestamp
0          1        1     4.0   964982703
1          1        3     4.0   964981247
2          1        6     4.0   964982224
3          1       47     5.0   964983815
4          1       50     5.0   964982931
5          1       70     3.0   964982400
6          1      101     5.0   964980868
7          1      110     4.0   964982176
8          1      151     5.0   964984041
9          1      157     5.0   964984100
10         1      163     5.0   964983650
11         1      216     5.0   964981208
12         1      223     3.0   964980985
13         1      231     5.0   964981179
14         1      235     4.0   964980908
15         1      260     5.0   964981680
16         1      296     3.0   964982967
17         1      316     3.0   964982310
18         1      333     5.0   964981179
19         1      349     4.0   964982563
20         1      356     4.0   964980962
21         1      362     5.0   964982588
22         1      367     4.0   964981710
23         1      423     3.0   964982363
24         1      441     4.0   964980868
25         1      457     5.0   964981909
26         1      480     4.0   964982346
27         1      500     3.0   964981208
28         1      527     5.0   964984002
29         1      543     4.0   964981179
...      ...      ...     ...         ...
1220      10    81847     3.5  1455399313
1221      10    82167     3.5  1455357720
1222      10    82499     2.0  1455398390
1223      10    84374     3.5  1455357730
1224      10    86548     3.0  1455398396
1225      10    87222     3.5  1455306257
1226      10    88163     4.0  1455357504
1227      10    88810     3.0  1455399281
1228      10    91104     3.0  1455356990
1229      10    91529     5.0  1455302120
1230      10    92259     5.0  1455301553
1231      10    94070     4.5  1455357387
1232      10    95167     4.0  1455398177
1233      10    95449     4.0  1455356885
1234      10    95510     3.0  1455398127
1235      10    95543     3.5  1455399376
1236      10    96079     5.0  1455302172
1237      10    97024     0.5  1455301892
1238      10    97938     1.0  1455398105
1239      10    98203     3.0  1455356994
1240      10   103335     4.0  1455398111
1241      10   103339     4.0  1455356177
1242      10   104374     4.0  1455357653
1243      10   105211     2.5  1455399232
1244      10   106489     3.5  1455357076
1245      10   106696     4.5  1455306204
1246      10   106782     1.0  1455398089
1247      10   107141     2.0  1455399188
1248      10   109374     0.5  1455302315
1249      10   109487     0.5  1455398092

[1250 rows x 4 columns]

In [6]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [7]:
len(movies[pd.isna(movies['movieId'])==1])

0

In [8]:
def change_string(s):
    return ' '.join(s.replace(' ', '').replace('-', '').split('|'))
movie_genres = [change_string(g) for g in movies.genres.values]

In [9]:
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(movie_genres)
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

In [10]:
genres_dict = {}
for ind in tqdm_notebook(range(0,len(movies['movieId']))):
    genres_dict[movies['movieId'][ind]] = tfidf_transformer.transform(count_vect.transform([change_string(movies.genres[ind])]))

HBox(children=(IntProgress(value=0, max=9742), HTML(value='')))

In [11]:
tags_doc = {}
for uniq in tags.movieId.unique():
    tags_doc[uniq] = ''.join(' '.join(tags[tags['movieId'] == uniq]['tag']).lower())

In [12]:
tags_count = CountVectorizer()
X_train_tags_vec = tags_count.fit_transform(tags_doc.values())
tfidf_tags = TfidfTransformer()
X_tags_train_tfidf = tfidf_tags.fit_transform(X_train_tags_vec)

In [13]:
from sklearn.neighbors import NearestNeighbors
from surprise import KNNWithMeans, KNNBasic
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import train_test_split
from scipy.spatial import distance as ds

In [14]:
neigh = NearestNeighbors(n_neighbors=1000, n_jobs=-1, metric='euclidean') 
neigh.fit(X_train_tfidf)
tag_neigh = NearestNeighbors(n_neighbors=1000, n_jobs=-1, metric='euclidean')
tag_neigh.fit(X_tags_train_tfidf)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='euclidean',
         metric_params=None, n_jobs=-1, n_neighbors=1000, p=2, radius=1.0)

In [15]:
movies_with_ratings = movies.join(ratings.set_index('movieId'), on='movieId').reset_index(drop=True)
movies_with_ratings.dropna(inplace=True)
dataset = pd.DataFrame({
    'uid': movies_with_ratings.userId,
    'iid': movies_with_ratings.title,
    'rating': movies_with_ratings.rating
})

In [16]:
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(dataset, reader)
trainset, testset = train_test_split(data, test_size=.15)
algo = KNNWithMeans(k=50, sim_options={'name': 'pearson_baseline', 'user_based': True})
algo.fit(trainset)

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.

In [35]:
def hybr_rec_sys(user,film):
    #–ú–æ–π –≤–∞—Ä–∏–∞–Ω—Ç –∑–∞–∫–ª—é—á–∞–µ—Ç—Å—è –≤ —Ç–æ–º, —á—Ç–æ –±—ã –Ω–∞–π—Ç–∏ –±–ª–∏–∂–∞–π—à–∏–µ —Ñ–∏–ª—å–º—ã –ø–æ –∂–∞–Ω—Ä–∞–º, –∑–∞—Ç–µ–º –∏–∑ –Ω–∏—Ö –ø–æ —Ç–µ–≥–∞–º, 
    #—Å–¥–µ–ª–∞—Ç—å –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ –∏—Ö –æ—Ü–µ–Ω–∫–∏ —Å –ø–æ–º–æ—â—å—é user-based, –≤—ã–≤–µ—Å—Ç–∏ 9 –ª—É—á—à–∏—Ö –∏ 1 —Ä–∞–Ω–¥–æ–º–Ω—ã–π(—Ä–∞–∑–º—ã–≤–∞–Ω–∏–µ —Ä–µ–∫–∫–æ–º–µ–Ω–¥–∞—Ü–∏–π)
    
    #
    #–ù–∞—Ö–æ–¥–∏–º –±–ª–∏–∂–∞–π—à–∏–µ –ø–æ –∂–∞–Ω—Ä–∞–º –∫ –ø—Ä–∏–º–µ—Ä—É 1000 —Ñ–∏–ª—å–º–æ–≤
    #

    near_gnrs = neigh.kneighbors(tfidf_transformer.transform(
        count_vect.transform([change_string(movies[movies['title']==film].iloc[0,2])])
    ))[1][0]
    new_near_gnrs = []
    for movid in near_gnrs:
        if (movid!=movies[movies['title']==film].iloc[0,0]):
            new_near_gnrs.append(movid)   
            
    #
    #–¢–µ–ø–µ—Ä—å –∏—â–µ–º –±–ª–∏–∂–∞–π—à–∏—Ö –ø–æ —Ç–µ–≥–∞–º
    #
    
    if (movies[movies['title']==film].iloc[0,0] in tags_doc.keys()):
        print('TRUE')
        near_tgs = tag_neigh.kneighbors(tfidf_tags.transform(
            tags_count.transform([tags_doc.get(movies[movies['title']==film].iloc[0,0])])))[1][0]
        #–æ—Å—Ç–∞–≤–ª—è–µ–º 50 "–ª—É—á—à–∏—Ö —Ñ–∏–ª—å–º–æ–≤" –≤ –æ–±–æ–∏—Ö –º–µ—Ç—Ä–∏–∫–∞—Ö. –ï—Å–ª–∏ —Å—Ç–æ–ª—å–∫–æ –Ω–µ –Ω–∞–±–∏—Ä–∞–µ—Ç—Å—è, –±–µ—Ä–µ–º –ª—É—á—à–∏–µ –ø–æ –∂–∞–Ω—Ä–∞–º, 
        #—Ç–∞–∫ –∫–∞–∫ —Ç–µ–≥–æ–≤ –ø–æ —ç—Ç–æ–º—É —Ñ–∏–ª—å–º—É –º–æ–∂–µ—Ç –≤–æ–æ–±—â–µ –Ω–µ –±—ã—Ç—å
        dist = []
        for gnrs in tqdm_notebook(new_near_gnrs):
            ind = 0
            while ((near_tgs[ind]!=gnrs)and(ind<999)):
                ind+=1
            if (ind != 999):
                dist.append(ind)
        if (len(dist)<50):
            for ind in range(0,1000):
                if (dist.count(ind)==0):
                    dist.append(ind)
                if (len(dist)==50):
                    break;
        else:
            dist = dist[:50]
    else: 
        dist = np.arange(50)
        
        
    marks = []
    for ind in tqdm_notebook(dist):
        marks.append(algo.predict(uid = user,iid = movies.iloc[near_gnrs[ind],1]).est)
        
    marks = [i for i in np.argsort(marks)[::-1]]
    marks = marks[:9]
    rec_ind = []
    for i in marks:
        rec_ind.append(dist[i])
    ind = np.random.choice(movies['movieId'])
    while ((rec_ind.count(ind)!=0)and(ind==movies[movies['title']==film].iloc[0,0])):
        ind = np.random.choice(movies['movieId'])
    rec_ind.append(ind)
    rec_mov = {}
    for ind in rec_ind:
        rec_mov[ind] = movies[movies['movieId']==ind][movies.columns[1:]]
    return rec_mov

In [38]:
hybr_rec_sys(1,'Kung Fu Panda 2 (2011)')

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

{31:                      title genres
 30  Dangerous Minds (1995)  Drama, 28:                 title         genres
 27  Persuasion (1995)  Drama|Romance, 30:                                                 title       genres
 29  Shanghai Triad (Yao a yao yao dao waipo qiao) ...  Crime|Drama, 38:                   title           genres
 34  It Takes Two (1995)  Children|Comedy, 11:                              title                genres
 10  American President, The (1995)  Comedy|Drama|Romance, 1:               title                                       genres
 0  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy, 18:                 title  genres
 17  Four Rooms (1995)  Comedy, 25:                        title         genres
 24  Leaving Las Vegas (1995)  Drama|Romance, 37: Empty DataFrame
 Columns: [title, genres]
 Index: [], 3920:                                                   title  \
 2924  Faraway, So Close (In weiter Ferne, so nah!) (...

                              genres
 2924  Drama|Fantasy|Mystery|Romance  }

In [29]:
movies[movies['title']=='Kung Fu Panda 2 (2011)'].iloc[0,2]

'Action|Adventure|Animation|Children|Comedy|IMAX'